extends layout

block content
    div#reshead
        h3 Test results
        p
            a(href="/") Home
            br
            a#res(href="#") Display results

    div#results
        p Click "display results" to see the test results
